<div class="container">
    
    <img class="img-responsive" src="assets/images/rblogo.png" width="300" height="300">
    <br>
    <br>
    <br>
    <br>
    <button mat-raised-button  (click)="showPractice()">Chest Compression Practice</button>


    
    
    <div [hidden]="!displayResult1">
        <h5>Your rate of compression: {{results}} compressions per minute </h5>
        <h5>Ideal rate of compressions: 100 - 120 compressions per minute</h5>
        <h5>Your average pressure: {{compressionAverage}} Newtons</h5>
    </div>
    
    
    
    <div [hidden]="!practiceStuff">

<!--
    <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="1"
    min="1"
    max="100" (input)="updateSensitivity($event)"></mat-slider>-->
     <!-- Scanning For Device Button -->
    <button mat-raised-button *ngIf="!devices[0]" (click)="connect(0)">Connect Device</button>

    
    <!-- Device Data & Buttons -->
    <div *ngIf="devices[0]" class="device-container">
        <div class="data-container">
            <span>{{devices[0].device.name}}</span>
            <span>IS{{isomData[0]}}</span>
        </div>
        <div *ngIf="isomData[0] > 556">
            <h3>TOO HARD</h3>
        </div>
        <div *ngIf="isomData[0] < 444">
            <h3>TOO LOW</h3>
        </div>
        <div *ngIf="isomData[0] > 444 && isomData[0] < 556">
            <h3>PERFECT</h3>
        </div>

        <button mat-raised-button (click)="startIsometric(0)">Request Isometric</button>
        
        <button mat-raised-button (click)="disconnect(0)">Disconnect</button>
    </div>
    
    <button mat-raised-button #beat1 id="start" (click)="startRecording()">Start Recording</button>
    <button mat-raised-button #beat1 id="stop" (click)="stopRecording()">Stop Recording</button>
    <button mat-raised-button #beat1 id="results" (click)="showResults1()">Show Results and Reset</button>
    

    </div>

    <!-- Device Data & Buttons -->
    <div *ngIf="devices[1]" class="device-container">
        <div class="data-container">
            <span>{{devices[1].device.name}}</span>
            <span>IS{{isomData[1]}}</span>
        </div>
      

        <button mat-raised-button (click)="startIsometric(1)">Request Isometric</button>
        
        <!-- <button mat-raised-button (click)="tare(1)">Request Tare</button>
        <button mat-raised-button (click)="stop(1)">Request Stop</button> -->
        <!-- <button mat-raised-button (click)="deviceTwoIsEvergreenMode = !deviceTwoIsEvergreenMode; evergreenMode(1, deviceTwoIsEvergreenMode)">
            {{deviceTwoIsEvergreenMode ? 'Switch Off Evergreen' : 'Switch On Evergreen'}}
        </button> -->
        <button mat-raised-button (click)="disconnect(1)">Disconnect</button>
    </div>
  
</div>